/* CUSTOM PROPS */
:root {
  --font-family: "Kumbh Sans", "Arial", sans-serif;
  --text-color: #69707D;
  --accent-color: #ff7e1b;
  --accent-color-hover: #ffab6a;
  --text-color-dark: #1D2026;
  --white: #fff;
  --accent-color-light: #ffeee2;
  --light-bg: #f6f8fd;
  --divider-bg: #e4e9f2;
}

/* FONT-FACE */
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Medium.woff2") format("woff2"),
  url("../fonts/KumbhSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
  url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* LOGO */
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 137px;
  height: 20px;
  object-fit: contain;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--divider-bg);
}

.site-header__logo {
  margin-right: 56px;
  flex-shrink: 0;
}


/* SITENAV */
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 41px;
  padding-bottom: 45px;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  display: block;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  color: var(--text-color);
}

.sitenav__link:hover {
  color: var(--text-color-dark);
}

.sitenav__link:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  content: "";
}


  padding-top: 28px;
}

.site-header__global-wrapper {
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E4E9F2;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.site-header__link {
  display: inline-block;
  text-decoration: none;
}

.site-header__logo {
  display: block;
  width: 138px;
  height: 20px;
}

.sitenav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  color: var(--text-color);
}

.sitenav__link:hover {
  padding-bottom: 45px;
  color: var(--black);
  border-bottom: 5px solid #FF7E1B;
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__img-wrapper {
  display: flex;
  align-items: center;
}

.imgs__link {
  display: inline-block;

}

.imgs__korzinka {
  display: block;
  width: 22px;
  height: 20px;
  margin-right: 46px;
}

.imgs__profile {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


/* FEATURES */
.features {
  padding-top: 90px;
  padding-bottom: 132px;
}

.features__container {
  display: flex;
}

.features__imgs {
  padding: 0;
  margin: 0;
  margin-right: 125px;
  width: 100%;
  max-width: 445px;
}

.features__img-link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 32px;
}

.features__photo {
  display: block;
  width: 445px;
  height: 445px;
  border-radius: 15px;
}

.features__list {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
}

.features__item:not(:last-child) {
  margin-right: 31px;
}

.features__link {
  display: inline-block;
  text-decoration: none;
}

.features__link:active {
  background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(Image.png);
  border: 2px solid #FF7E1B;
  border-radius: 10px;
}

.features__img {
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 10px;
}

/* FEATURES-INFO */
.features__info {
  padding-top: 62px;
}

.features__titile {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FF7E1B;
}

.features__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: #1D2026;
  }

.features__text {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  font-style: normal;
}

.box {
  display: flex;
  align-items: center;
}

.number {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color:  var(--black);
}

.prozent {
  padding: 7px 8px 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFEEE2;
  border-radius: 6px;
  color: #FF7E1B;
}

.box-2 {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  text-decoration: line-through;
}

.features__buttons {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  width: 100%;
  max-width: 157px;
  padding: 23px 16px 17px;
  background-color: #F6F8FD;
  border-radius: 10px;
}

.button-minus {
  text-decoration: none;
}

.button-zero {
}

.button-pilus {
}

.button-premium {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 272px;
  padding-top: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 17px;
  background-color: #FF7E1B;
  box-shadow: 0px 20px 50px -20px #FF7E1B;
  border: 0;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
}

.korzinka-icon {
  display: block;
  border: 2px solid red;
  position: absolute;
  left: 77px;
  top: 20px;
  background-image: url(../img/korzinka-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}










/* MODAL */
.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-open {
  display: block;
}

.modal-dialog {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: 182px;
  margin-top: 93px;
}


.modal-content {
  padding: 24px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
  background-color: var(--white);
}

.modal-content__title {
  padding: 0;
  padding-bottom: 27px;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D2026;
  border-bottom: 1px solid #E4E9F2;
}

.modal-content__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.modal-content__img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.modal-content__info {
  padding: 0;
  margin: 0;
}

.modal-content__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #69707D;
}

.total-price{
  font-weight: 700;
  color: var(--black);
}

.modal-content__button {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 18px;
  border: 0;
  border-radius: 10px;
  background-color: #FF7E1B;
  color: var(--white);
  cursor: pointer;
}

